In [1]:
import pandas as pd
import json
import csv
import nltk
import re
import string

data = pd.read_csv('sample.csv',encoding = "ISO-8859-1")
data.head()

,review_id,business_id,stars,text
0,z_VY1RNU2nWO6kaAVt28nw,kVI7NL59MPnYTx3Lg6PMTw,4,"Great food. Recommend the grilled shrimp app, ..."
1,iz89hnkkU5MXSvODiIKiaA,kVI7NL59MPnYTx3Lg6PMTw,4,There is definitely a wow factor when you ente...
2,T8vxPxV_0Nvh7T9G7zfE8A,eLrJdEYwxzJgddnqawDQ1g,5,My boyfriend took me here the last time I was ...
3,LSvhBCb8q0tytFd1x4eB3A,kVI7NL59MPnYTx3Lg6PMTw,4,Food was great. \r\nService was great. \r\nBar...
4,Kv9VEmLpM285jD8SVVqUPw,kVI7NL59MPnYTx3Lg6PMTw,1,We went for afternoon tea and pasties on Sunda...

In [2]:
#Lower casing the text column

data['text'] = data['text'].str.lower()
data.head()

,review_id,business_id,stars,text
0,z_VY1RNU2nWO6kaAVt28nw,kVI7NL59MPnYTx3Lg6PMTw,4,"great food. recommend the grilled shrimp app, ..."
1,iz89hnkkU5MXSvODiIKiaA,kVI7NL59MPnYTx3Lg6PMTw,4,there is definitely a wow factor when you ente...
2,T8vxPxV_0Nvh7T9G7zfE8A,eLrJdEYwxzJgddnqawDQ1g,5,my boyfriend took me here the last time i was ...
3,LSvhBCb8q0tytFd1x4eB3A,kVI7NL59MPnYTx3Lg6PMTw,4,food was great. \r\nservice was great. \r\nbar...
4,Kv9VEmLpM285jD8SVVqUPw,kVI7NL59MPnYTx3Lg6PMTw,1,we went for afternoon tea and pasties on sunda...

In [3]:
#library that contains punctuation
string.punctuation

#Stopword removal
#Stop words present in the library
stopwords = nltk.corpus.stopwords.words('english')

#Pre-processing the data by removing puntuation 

def clean_text(text):
    #removing punctuation 
    text = "".join([c for c in text if c not in string.punctuation])
    
    #tokenizing
    tokens = re.split('\W+', text)
    
    #filtering out stopwords
    text = [word for word in tokens if word not in stopwords]
    return text

In [4]:
data['clean_text'] = data['text'].apply(lambda x: clean_text(x))
data.head()

,review_id,business_id,stars,text,clean_text
0,z_VY1RNU2nWO6kaAVt28nw,kVI7NL59MPnYTx3Lg6PMTw,4,"great food. recommend the grilled shrimp app, ...","[great, food, recommend, grilled, shrimp, app,..."
1,iz89hnkkU5MXSvODiIKiaA,kVI7NL59MPnYTx3Lg6PMTw,4,there is definitely a wow factor when you ente...,"[definitely, wow, factor, enter, restaurant, h..."
2,T8vxPxV_0Nvh7T9G7zfE8A,eLrJdEYwxzJgddnqawDQ1g,5,my boyfriend took me here the last time i was ...,"[boyfriend, took, last, time, visiting, johns,..."
3,LSvhBCb8q0tytFd1x4eB3A,kVI7NL59MPnYTx3Lg6PMTw,4,food was great. \r\nservice was great. \r\nbar...,"[food, great, service, great, bartender, spill..."
4,Kv9VEmLpM285jD8SVVqUPw,kVI7NL59MPnYTx3Lg6PMTw,1,we went for afternoon tea and pasties on sunda...,"[went, afternoon, tea, pasties, sunday, called..."

In [5]:
#stemming 
from nltk.stem import PorterStemmer
ps = PorterStemmer()

def stemming(tokenized_text):
    text = [ps.stem(word) for word in tokenized_text]
    return text

data['clean_text'] = data['clean_text'].apply(lambda x: stemming(x))
data.head()

,review_id,business_id,stars,text,clean_text
0,z_VY1RNU2nWO6kaAVt28nw,kVI7NL59MPnYTx3Lg6PMTw,4,"great food. recommend the grilled shrimp app, ...","[great, food, recommend, grill, shrimp, app, w..."
1,iz89hnkkU5MXSvODiIKiaA,kVI7NL59MPnYTx3Lg6PMTw,4,there is definitely a wow factor when you ente...,"[definit, wow, factor, enter, restaur, hotel, ..."
2,T8vxPxV_0Nvh7T9G7zfE8A,eLrJdEYwxzJgddnqawDQ1g,5,my boyfriend took me here the last time i was ...,"[boyfriend, took, last, time, visit, john, cre..."
3,LSvhBCb8q0tytFd1x4eB3A,kVI7NL59MPnYTx3Lg6PMTw,4,food was great. \r\nservice was great. \r\nbar...,"[food, great, servic, great, bartend, spill, d..."
4,Kv9VEmLpM285jD8SVVqUPw,kVI7NL59MPnYTx3Lg6PMTw,1,we went for afternoon tea and pasties on sunda...,"[went, afternoon, tea, pasti, sunday, call, ea..."

In [6]:
#detokenizing column

from nltk.tokenize.treebank import TreebankWordDetokenizer


data['clean_text'] = data['clean_text'].str.join(', ')
# 'The quick brown'
def remove_punctuation(text):
    punctuationfree="".join([i for i in text if i not in string.punctuation])
    return punctuationfree

data['clean_text']= data['clean_text'].apply(lambda x:remove_punctuation(x))
data.head()

,review_id,business_id,stars,text,clean_text
0,z_VY1RNU2nWO6kaAVt28nw,kVI7NL59MPnYTx3Lg6PMTw,4,"great food. recommend the grilled shrimp app, ...",great food recommend grill shrimp app white be...
1,iz89hnkkU5MXSvODiIKiaA,kVI7NL59MPnYTx3Lg6PMTw,4,there is definitely a wow factor when you ente...,definit wow factor enter restaur hotel dim lig...
2,T8vxPxV_0Nvh7T9G7zfE8A,eLrJdEYwxzJgddnqawDQ1g,5,my boyfriend took me here the last time i was ...,boyfriend took last time visit john creek area...
3,LSvhBCb8q0tytFd1x4eB3A,kVI7NL59MPnYTx3Lg6PMTw,4,food was great. \r\nservice was great. \r\nbar...,food great servic great bartend spill dark dri...
4,Kv9VEmLpM285jD8SVVqUPw,kVI7NL59MPnYTx3Lg6PMTw,1,we went for afternoon tea and pasties on sunda...,went afternoon tea pasti sunday call earlier w...

In [7]:
data.to_csv("cleaned_data.csv")